 .App {
   display: flex;

 }
 
 .Brand {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 10vh;
  background-color: #AB2A19;
  color: white;
 }

 
.firstSqaure {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.secondSquare {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.thirdSquare {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}